body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 1490px;
    display: flex;

}




.imagem {
    position: relative;
    width: 140px;
    height: 50px;
    top: -5px;


}

.box-login {
    background-color: rgb(24, 24, 24);
    width: 350px;
    height: 400px;
    position: relative;
    top: 100px;
    left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;


}

.erro1 {
    color: red;
    font-size: 15px;
    z-index: 3;
    margin-top: 10px;

}

.input {

    margin-top: 10px;
    width: 250px;
    height: 35px;
    border-radius: 15px;
    border: 0px;
    position: relative;
    top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: left;
    color: skyblue;
    z-index: 3;
    background: transparent;


}

.button {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 3;
}

.box-login::after {
    content: '';
    position: absolute;
    z-index: 1;
    height: calc(40%);
    width: calc(160%);
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
}

.box-login::before {
    content: '';
    background-color: rgb(24, 24, 24);
    position: absolute;
    width: 345px;
    height: 395px;
    z-index: 2;
    border-radius: 10px;
}

.texto {
    color: #45f3ff;
    ;
    position: relative;
    z-index: 3;
    font-size: 35px;
    top: -1cm;
}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.barra {
    width: 1cm;
    height: 10px;
    color: #45f3ff;
    z-index: 4;
    position: absolute;

}

.creditos {
    position: relative;
    top: 2cm;
    z-index: 3;
}

@media screen and (max-width: 550px) {
    .imagem {
        width: 120px;
    }

    .input {
        width: 150px;
        margin-top: 10px;
    }

    .button {
        width: 150px;
        height: 1cm;
        margin-top: 0px;
    }

    .texto {
        font-size: 20px;
    }

    .box-login::before {
        width: 245px;
        height: 297px;
    }

    .box-login {
        width: 250px;
        height: 300px;
        top: 150px;
        left: 55px;
    }

    .creditos {
        width: 50px;
        height: 20px;
        top: 50px;

    }

    .texto {
        animation: rgb 3s linear infinite;
        animation-delay: 0ms;
    }


    @keyframes rgb {

        0% {
            color: rgb(255, 0, 0);
        }

        10% {
            color: rgb(152, 0, 212);
        }

        20% {
            color: gold;
        }

        30% {
            color: aqua;
        }

        50% {
            color: mintcream;
        }

        50% {
            color: rgb(0, 51, 255);
        }

        100% {
            color: orangered;
        }

    }
}

.escrever {
    position: relative;
    color: white;
    top: 5cm;
    font-size: 25px;
    left: -450px;

}

.dec{
    position: relative;
    left: -700px;
    top: 300px;
}